<a href="https://colab.research.google.com/github/nxbnv/DMDW-5th-sem/blob/main/lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/content/Book1.csv")
df

   student id    name    M1    M2    M3    M4
0           1  Swarup  78.0  88.0  67.0  88.0
1           2     NaN  77.0  34.0  79.0  45.0
2           3    Liku  45.0  28.0  65.0  32.0
3           4  Dharma  39.0  90.0  45.0  78.0
4           5   rahon  82.0  54.0  69.0  44.0
5           6     NaN  94.0  86.0  34.0  89.0
6           7  Sanket   NaN  43.0  52.0   NaN
7           8   Bijay  71.0   NaN  35.0  96.0
8           9     NaN  65.0  78.0   NaN  48.0
9          10    Hari  34.0  36.0  23.0  39.0

In [6]:
for col in df.select_dtypes(include=['object']):
    df[col] = df[col].fillna('abc')

print(df)

   student id    name    M1    M2    M3    M4
0           1  Swarup  78.0  88.0  67.0  88.0
1           2     abc  77.0  34.0  79.0  45.0
2           3    Liku  45.0  28.0  65.0  32.0
3           4  Dharma  39.0  90.0  45.0  78.0
4           5   rahon  82.0  54.0  69.0  44.0
5           6     abc  94.0  86.0  34.0  89.0
6           7  Sanket   NaN  43.0  52.0   NaN
7           8   Bijay  71.0   NaN  35.0  96.0
8           9     abc  65.0  78.0   NaN  48.0
9          10    Hari  34.0  36.0  23.0  39.0

In [7]:
# Fill empty strings in 'name' column with letters A, B, C, ...
for col in df.select_dtypes(include=['number']):
    df[col] = df[col].fillna(df[col].mean())

print(df)

   student id    name    M1         M2         M3         M4
0           1  Swarup  78.0  88.000000  67.000000  88.000000
1           2     abc  77.0  34.000000  79.000000  45.000000
2           3    Liku  45.0  28.000000  65.000000  32.000000
3           4  Dharma  39.0  90.000000  45.000000  78.000000
4           5   rahon  82.0  54.000000  69.000000  44.000000
5           6     abc  94.0  86.000000  34.000000  89.000000
6           7  Sanket  65.0  43.000000  52.000000  62.111111
7           8   Bijay  71.0  59.666667  35.000000  96.000000
8           9     abc  65.0  78.000000  52.111111  48.000000
9          10    Hari  34.0  36.000000  23.000000  39.000000