<a href="https://colab.research.google.com/github/nxbnv/DMDW-5th-sem/blob/main/lab_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Create a dictionary for the dataset
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['rohan', 'liku', 'dharmajit', 'khushi', '', 'subham', 'sandeep', 'aditya', 'asutosh', ''],
    'm1': [80, np.nan, 70, 85, np.nan, 90, np.nan, 75, 88, np.nan],
    'm2': [75, 82, np.nan, 90, 78, np.nan, 85, np.nan, 92, 80],
    'm3': [np.nan, 88, 75, np.nan, 80, 72, 90, 85, np.nan, 78],
    'm4': [78, np.nan, 85, np.nan, 90, 83, np.nan, 88, 75, 80]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Fill empty strings in 'name' column with letters A, B, C, ...
blank_names = df[df['name'] == '']
name_counter = 0
for index, row in blank_names.iterrows():
    df.at[index, 'name'] = chr(65 + name_counter)
    name_counter += 1

# Fill missing numeric values with mean of the respective columns
numeric_cols = ['m1', 'm2', 'm3', 'm4']
for col in numeric_cols:
    df[col].fillna(df[col].mean(), inplace=True)

print(df)

   ID       name         m1         m2         m3         m4
0   1      rohan  80.000000  75.000000  81.142857  78.000000
1   2       liku  81.333333  82.000000  88.000000  82.714286
2   3  dharmajit  70.000000  83.142857  75.000000  85.000000
3   4     khushi  85.000000  90.000000  81.142857  82.714286
4   5          A  81.333333  78.000000  80.000000  90.000000
5   6     subham  90.000000  83.142857  72.000000  83.000000
6   7    sandeep  81.333333  85.000000  90.000000  82.714286
7   8     aditya  75.000000  83.142857  85.000000  88.000000
8   9    asutosh  88.000000  92.000000  81.142857  75.000000
9  10          B  81.333333  80.000000  78.000000  80.000000